<div class="row">
    <app-user-lists class="d-none d-md-block col-md-3"></app-user-lists>

    <div id="chat_window" class="col-12 col-md-9">
        <div *ngIf="socketService.getConversation == null" class="d-md-none">
            <app-user-lists class="col-12"></app-user-lists>
        </div>

        <div *ngIf="socketService.getConversation == null" class="d-none d-md-block">
            no hay conversacion seleecionada
        </div>


        <div *ngIf="socketService.getConversation != null">
            <div id="toolbar_area">
            </div>
            <div id="chat_area">
                <div *ngFor="let item of socketService.getConversation.conversation">

                    <div *ngIf="item.type == 'info'">
                        <div class="info" *ngFor="let message of item.messages;"><span>{{message.text}}</span></div>
                    </div>
                    <div *ngIf="item.type == 'message'">
                        <div [id]="message.guid" class="burble animated" [ngClass]="{'flipInX' : message.status == 1, 'operator': item.sender == 'operator', 'first-child' : i == 0, 'last-child' : i == (item.messages.length - 1), 'opacity' : message.status == 0 }" *ngFor="let message of item.messages; let i = index">
                            <div *ngIf="i == 0 && item.sender != 'operator'" class="image">
                                <img [src]="item.image">
                            </div>
                            <div *ngIf="i == 0 && message.status != 1" class="name">{{item.sender == 'operator' ? item.name : 'User' }}
                                <p class="time" [ngClass]="{'operator': item.sender == 'operator' }"><span>{{item.time}}</span></p>
                            </div>
                            <div class="message">{{message.text}}</div>
                            <div *ngIf="item.sender == 'operator'" class="message_status">
                                <span><img title="Not sent" *ngIf="message.status == 0" src="../../assets/images/error.svg"></span>
                                <span><img title="Sending" *ngIf="message.status == 1" src="../../assets/images/clock.svg"></span>
                                <span><img title="Received on server" *ngIf="message.status == 2" src="../../assets/images/check.svg"></span>
                                <span><img title="Delivered" *ngIf="message.status == 3" src="../../assets/images/doublecheck1.svg"></span>
                                <span><img title="Read" *ngIf="message.status == 4" src="../../assets/images/doublecheck2.svg"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="input_area">
                <input [(ngModel)]="message" (keypress)="sendMessage($event)" type="text" [placeholder]="'typing_your_question' | translate">
                <button type="button" (click)="sendMessage($event)"></button>

            </div>


        </div>
    </div>
</div>